.wrapper {
  position: relative;
  & + .formWrapper {
    margin-top: 15px;
  }
}

.input {
  position: relative;
  padding: 14px 15px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: text;
  outline: none;
  &:focus.error,
  &.error {
    border: 1px solid red;
    & + .inputLabel {
      color: red;
    }
  }
  &:focus {
    border: 1px solid #000;
    & + .inputLabel {
      display: block;
    }
  }
  &:focus::placeholder {
    font-size: 0;
  }
  &Label {
    display: none;
    background-color: #fff;
    padding: 2px;
    left: 15px;
    top: -10px;
    position: absolute;
    font-size: 13px;
  }
  &Validation {
    opacity: 0;
    color: red;
    font-size: 13px;
    padding-top: 4px;
    padding-left: 16px;
    &.error {
      opacity: 1;
    }
  }
}
