.checkout {
  margin: 125px 0 40px;
  @media (max-width: 700px) {
    margin-top: 115px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 67% 30%;
  gap: 3%;
  @media (max-width: 930px) {
    display: block;
  }
}

.bag {
  &Title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    @media (max-width: 555px) {
      font-size: 21px;
    }
  }
  &Items {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

.summary {
  @media (max-width: 930px) {
    padding-top: 30px;
  }
  &Title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    @media (max-width: 555px) {
      font-size: 21px;
    }
  }
  &Body {
    @media (max-width: 555px) {
      font-size: 14px;
    }
  }
  &Row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @media (max-width: 555px) {
      margin-bottom: 12px;
    }
  }

  &Sum {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 22px;
    @media (max-width: 555px) {
      padding: 12px 0;
      margin-bottom: 14px;
    }

    &Price {
      font-weight: 500;
    }
  }
  &Submit {
    &Button {
      display: block;
      text-align: center;
      color: #fff;
      background-color: #000;
      padding: 18px 24px;
      border-radius: 30px;
      font-weight: 500;
      transition: background-color 0.3s;
      &:hover {
        background-color: rgba(#000, 0.75);
      }
      &.disabled {
        background-color: #ccc;
        color: #000;
        cursor: default;
        pointer-events: none;
      }
      @media (max-width: 555px) {
        padding: 13px 16px;
        border-radius: 20px;
      }
    }
  }
}
