@use "sass:math";
@import "@/styles/mixins";

.about {
  padding-top: 100px;
  padding-bottom: 130px;

  @media (max-width: 1365px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &Container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &Title {
    font-weight: 900;
    font-size: 30px;
    line-height: math.div(37, 30);
    margin-bottom: 55px;
    @include adaptiveValue("font-size", 30, 20, 1200, 800);
    @include adaptiveValue("font-size", 30, 20, 799, 320);

    @media (max-width: 1365px) {
      margin: 0 auto 40px;
      text-align: center;
    }

    @media (max-width: 768px) {
      margin: 0 auto 30px;
    }
  }

  &Body {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;

    @media (max-width: 800px) {
      gap: 30px;
      justify-content: start;
      flex-direction: column;
    }
  }

  &Description {
    max-width: 400px;

    @media (max-width: 800px) {
      max-width: none;
    }

    &Title {
      line-height: math.div(24, 20);
      font-weight: 800;
      margin-bottom: 27px;
      @include adaptiveValue("font-size", 20, 15, 1200, 800);
      @include adaptiveValue("font-size", 20, 15, 799, 320);
    }

    &Text {
      font-size: 16px;
      line-height: math.div(24, 16);
      font-weight: 400;
      margin-bottom: 27px;
      text-align: justify;
      @include adaptiveValue("font-size", 16, 12, 1200, 800);
      @include adaptiveValue("font-size", 16, 12, 799, 320);

      p + p {
        margin-top: 20px;
      }
    }

    &Link {
      position: relative;
      font-size: 16px;
      line-height: math.div(24, 16);
      font-weight: 500;
      color: #f52456;
      padding-right: 20px;
      transition: all 0.3s;

      &::after {
        position: absolute;
        content: "→";
        right: 0;
        top: calc(50% + 1px);
        transform: translateY(-50%);
      }

      &:hover {
        padding-right: 50px;
      }
    }
  }

  &Img {
    width: 670px;
    height: 395px;

    @media (max-width: 1030px) {
      width: auto;
      height: auto;
    }

    img {
      border-radius: 20px;
      object-fit: cover;
      box-shadow: 0px 0px 56px 26px rgba(#509cd8, 0.37);
      width: 100%;
      height: 100%;
    }
  }
}
