@use "sass:math";
@import "@/styles/mixins";

.item {
  max-width: 370px;
  height: 571px;
  width: auto;
  background-color: #fff;
  box-shadow: 0 0 9px rgb(89, 71, 38, 0.2);
  border-radius: 20px;
  padding: 36px 33px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 0 20px rgb(89, 71, 38, 0.4);

    > div {
      transform: scale(1.06);
    }
  }

  @media (max-width: 1199px) {
    @include adaptiveValue("max-width", 370, 320, 1200, 999);
    height: 420px;
  }
  @media (max-width: 999px) {
    max-width: none;
    height: 420px;
  }

  &Wrapper {
    transition: all 0.3s;
  }

  &Header {
    display: flex;
    justify-content: space-between;
    &Tag {
      display: flex;
      gap: 18px;

      @media (max-width: 1199px) {
        gap: 9px;
      }
      &Badge {
        display: flex;
        align-items: center;
      }

      &Value {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: math.div(17, 14);
        font-weight: 400;
        width: 30px;
        height: 30px;
        border: 1px solid #cacaca;
        border-radius: 50%;
        margin-right: 8px;

        @media (max-width: 1199px) {
          font-size: 11px;
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
      }

      &Text {
        font-size: 13px;
        line-height: math.div(16, 13);
        font-weight: 400;

        @media (max-width: 1199px) {
          font-size: 11px;
        }
      }
    }

    &Wc {
      position: relative;
      align-self: center;

      img {
        @media (max-width: 1199px) {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }
      }

      &Green {
        padding-right: 14px;

        &::after {
          content: "";
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 11px;
          height: 7px;
          position: absolute;
          background: url("/yes.svg") center center no-repeat;
          background-size: contain;
        }
      }

      &Red {
        padding-right: 17px;

        &::after {
          content: "";
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          position: absolute;
          background: url("/no.svg") center center no-repeat;
          background-size: contain;
        }
      }
    }
  }

  &Body {
    display: grid;
    grid-template-rows: 227px, 1fr;

    &Img {
      margin: 0 auto;
      margin-top: 26px;
      margin-bottom: 26px;
      object-fit: contain;
      border-radius: 10px;

      @media (max-width: 1199px) {
        margin-top: 13px;
        margin-bottom: 13px;
        height: 160px;
      }
    }

    &Info {
      &Title {
        font-size: 19px;
        line-height: math.div(23, 19);
        font-weight: 700;
        margin-bottom: 15px;

        @media (max-width: 1199px) {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }

      &Text {
        font-size: 15px;
        line-height: math.div(21, 15);
        font-weight: 400;
        margin: 5px 0 15px;

        @media (max-width: 1199px) {
          font-size: 13px;
          margin: 5px 0 10px;
        }
      }

      &Tags {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: math.div(17, 12);
        text-transform: uppercase;

        @media (max-width: 1199px) {
          font-size: 10px;
        }

        &Animal {
          position: relative;
          padding-left: 12px;
          margin-right: 7px;

          &::before {
            content: "";
            position: absolute;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        &Animal {
          &::before {
            background-color: #ff8a00;
          }
        }
      }
    }
  }

  &Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s;
  }
}
