@use "sass:math";
@import "@/styles/mixins";

.new {
  padding-top: 110px;
  padding-bottom: 55px;
  background-color: #fbf6ed;

  @media (max-width: 1365px) {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  @media (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  &Container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

  &Title {
    font-weight: 900;
    font-size: 30px;
    line-height: math.div(37, 30);
    margin-bottom: 55px;
    @include adaptiveValue("font-size", 30, 20, 1200, 800);
    @include adaptiveValue("font-size", 30, 20, 799, 320);

    @media (max-width: 1365px) {
      margin: 0 auto 40px;
      text-align: center;
    }

    @media (max-width: 768px) {
      margin: 0 auto 30px;
    }
  }

  &Slider {
    position: relative;
  }

  &Swiper {
    margin: 0 -20px;
    padding: 20px !important;

    @media (max-width: 1199px) {
      max-width: 870px;
    }

    @media (max-width: 999px) {
      max-width: 570px;
    }

    @media (max-width: 799px) {
      max-width: 290px;
    }
    > div:not(:last-child) {
      padding-bottom: 25px;
      margin-bottom: 30px;
      box-sizing: border-box;

      @media (max-width: 1365px) {
        padding-bottom: 30px;
      }

      @media (max-width: 768px) {
        padding-bottom: 20px;
      }
    }
  }

  &Navigation {
  }
  &ButtonPrev,
  &ButtonNext {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #fff;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.13);
    top: calc(50% - 35px);
    transform: translateY(-50%);
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1;

    &:hover {
      background-color: rgba(#fff, 0.5);
    }

    @media (max-width: 420px) {
      display: none;
    }
  }

  &ButtonPrev {
    background-image: url("./images/arrow-left.svg");
    left: -70px;

    @media (max-width: 1365px) {
      left: 10px;
    }
  }

  &ButtonNext {
    background-image: url("./images/arrow-right.svg");
    right: -70px;

    @media (max-width: 1365px) {
      right: 10px;
    }
  }

  &Item {
    max-width: 370px;
    height: 571px;
    background-color: #fff;
    box-shadow: 0 0 9px rgb(89, 71, 38, 0.2);
    border-radius: 20px;
    padding: 36px 33px;
    // margin-right: 30px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 20px rgb(89, 71, 38, 0.4);

      > div {
        transform: scale(1.06);
      }
    }

    @media (max-width: 1199px) {
      height: 420px;
    }

    &Wrapper {
      transition: all 0.3s;
    }

    &Header {
      display: flex;
      justify-content: space-between;
      &Tag {
        display: flex;
        gap: 18px;

        @media (max-width: 1199px) {
          gap: 9px;
        }
        &Badge {
          display: flex;
          align-items: center;
        }

        &Value {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          line-height: math.div(17, 14);
          font-weight: 400;
          width: 30px;
          height: 30px;
          border: 1px solid #cacaca;
          border-radius: 50%;
          margin-right: 8px;

          @media (max-width: 1199px) {
            font-size: 11px;
            width: 20px;
            height: 20px;
            margin-right: 4px;
          }
        }

        &Text {
          font-size: 13px;
          line-height: math.div(16, 13);
          font-weight: 400;

          @media (max-width: 1199px) {
            font-size: 11px;
          }
        }
      }

      &Wc {
        position: relative;
        align-self: center;

        img {
          @media (max-width: 1199px) {
            width: 20px;
            height: 20px;
            object-fit: contain;
          }
        }

        &Green {
          padding-right: 14px;

          &::after {
            content: "";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 11px;
            height: 7px;
            position: absolute;
            background: url("./images/yes.svg") center center no-repeat;
            background-size: contain;
          }
        }

        &Red {
          padding-right: 17px;

          &::after {
            content: "";
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            position: absolute;
            background: url("./images/no.svg") center center no-repeat;
            background-size: contain;
          }
        }
      }
    }

    &Body {
      display: grid;
      grid-template-rows: 227px, 1fr;

      &Img {
        margin: 0 auto;
        margin-top: 26px;
        margin-bottom: 26px;
        height: 227px;
        object-fit: contain;

        @media (max-width: 1199px) {
          margin-top: 13px;
          margin-bottom: 13px;
          height: 160px;
        }
      }

      &Info {
        &Title {
          font-size: 19px;
          line-height: math.div(23, 19);
          font-weight: 700;
          margin-bottom: 15px;

          @media (max-width: 1199px) {
            font-size: 16px;
            margin-bottom: 10px;
          }
        }

        &Text {
          font-size: 15px;
          line-height: math.div(21, 15);
          font-weight: 400;
          margin-bottom: 15px;

          @media (max-width: 1199px) {
            font-size: 13px;
            margin-bottom: 10px;
          }
        }

        &Tags {
          display: flex;
          font-weight: 400;
          font-size: 12px;
          line-height: math.div(17, 12);
          text-transform: uppercase;

          @media (max-width: 1199px) {
            font-size: 10px;
          }

          &Animal {
            position: relative;
            padding-left: 12px;
            margin-right: 7px;

            &::before {
              content: "";
              position: absolute;
              width: 7px;
              height: 7px;
              border-radius: 50%;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }

          &Animal {
            &::before {
              background-color: #ff8a00;
            }
          }
        }
      }
    }

    &Footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: all 0.3s;
      &Price {
        position: relative;
        font-size: 22px;
        line-height: math.div(27, 22);
        font-weight: 700;
        color: #32b71d;

        @media (max-width: 1199px) {
          font-size: 18px;
        }

        &::after {
          content: "₴";
          position: absolute;
          font-size: 22px;
          line-height: math.div(27, 22);
          font-weight: 700;
          color: #32b71d;
          padding-left: 5px;

          @media (max-width: 1199px) {
            font-size: 18px;
          }
        }
      }

      &Badge {
        width: 29px;
        height: 29px;
        background: url("./images/paw.svg");

        @media (max-width: 1199px) {
          width: 18px;
          height: 18px;
          background-position: center center;
          background-size: contain;
        }
      }
    }
  }

  &Pagination {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    &Items {
      .swiper-pagination-bullet {
        background: rgba(0, 0, 0, 0.13);
        width: 16px;
        height: 16px;

        @media (max-width: 1199px) {
          width: 10px;
          height: 10px;
        }

        &.swiper-pagination-bullet-active {
          background: rgba(0, 0, 0, 0.69);
        }
      }
    }
  }
}

.pagination-new {
  &__items {
    .swiper-pagination-bullet {
      background: rgba(0, 0, 0, 0.13);
      width: 16px;
      height: 16px;

      @media (max-width: 1199px) {
        width: 10px;
        height: 10px;
      }

      &.swiper-pagination-bullet-active {
        background: rgba(0, 0, 0, 0.69);
      }
    }
  }
}
