@use "sass:math";

.application {
  margin-top: 115px;
  margin-bottom: 40px;
  @media (max-width: 755px) {
    margin-bottom: 80px;
  }
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.backButton {
  position: relative;
  width: 100px;
  height: 38px;
  padding-left: 17px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  transition: background-color 0.2s;
  &:hover {
    background-color: rgba(#000, 0.8);
  }
  &:before {
    content: "";
    position: absolute;
    background: url("./back-arrow.svg");
    background-repeat: no-repeat;
    width: 20px;
    height: 12px;
    left: 9px;
    top: 30%;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 55% 40%;
  gap: 5%;
  margin-top: 20px;
  @media (max-width: 755px) {
    grid-template-columns: 1fr;
  }
}

.form {
  &Box {
    & + .formBox {
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }
  &Title {
    font-size: 24px;
    margin-bottom: 20px;
    @media (max-width: 550px) {
      font-size: 21px;
    }
  }
  &Checkbox {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: math.div(17, 14);
    color: #777;
    cursor: pointer;

    @media (max-width: 570px) {
      font-size: 13px;
    }

    @media (max-width: 400px) {
      line-height: 2;
    }

    &.error {
      span {
        color: #f52456;
      }

      a {
        color: #f52456;
      }
    }

    input {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
      visibility: hidden;

      &:checked + span::before {
        background-color: #000;
        border: 1px solid #000;
      }

      &:checked + span::after {
        content: "";
        position: absolute;
        background-image: url("./done.svg");
        left: 3px;
        top: 4px;
        width: 12px;
        height: 9px;
      }
    }

    span {
      position: relative;
      padding-left: 30px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 15px;
        height: 15px;
        border: 1px solid #a5a5a5;
        background-color: transparent;
        border-radius: 2px;
      }

      a {
        color: #999999;
        text-decoration: underline;
      }
    }
  }
  &Button {
    width: 100%;
    padding: 20px 12px;
    color: #757575;
    background-color: #f5f5f5;
    font-weight: 500;
    border-radius: 30px;
    margin-top: 30px;
    cursor: default;
    pointer-events: none;
    &.active {
      cursor: pointer;
      color: #fff;
      background-color: #000;
      pointer-events: all;
      transition: background-color 0.2s;
      &:hover {
        background-color: rgba(#000, 0.8);
      }
    }
  }
}

.order {
  @media (max-width: 755px) {
    order: -1;
  }
  &Title {
    font-size: 24px;
    margin-bottom: 20px;
    @media (max-width: 550px) {
      font-size: 21px;
    }
  }
  &Items {
  }
  &Item {
    display: flex;
    margin-bottom: 10px;
    &Image {
      border-radius: 10px;
      margin-right: 10px;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }
    &Body {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &Title {
      font-weight: 600;
    }
    &Price {
    }
  }
  &Total {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;

    &Title {
    }
    &Price {
      font-weight: 500;
    }
  }
}

.modal {
  &Title {
    font-size: 21px;
  }
  &Link {
    text-decoration: underline;
  }
}
